# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Middleware/packages/Newtonsoft.Json.13.0.3
/Middleware/MiddlewareWCF/obj/Debug
/Middleware/Middleware.Business/bin/Debug
/Middleware/Middleware.Business/obj/Debug
/Middleware/Middleware.Data/bin/Debug
/Middleware/Middleware.Data/obj/Debug
/Middleware/Middleware.Entities/obj/Debug
/Middleware/MiddlewareWCF/bin
/Middleware/.vs/Middleware
/.vs/WCF/FileContentIndex
/.vs/WCF/v17
/.vs
